﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="IGS_ChatR.Master.Master" %>


<%--<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>--%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>IGS ChatR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" media="screen" />
    <link href="~/Content/css/Styles.css" rel="stylesheet" media="screen" />
    <link href="~/Content/Swal/sweetalert2.min.css" rel="stylesheet" media="screen" />
    <script src="https://use.fontawesome.com/60f2bd8603.js"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body style="background-color: rgb(24, 24, 24);">
    <form id="form1" runat="server">
        <asp:ScriptManager runat="server" ID="scriptMan"></asp:ScriptManager>
        <div class="loadingPanel hidden" id="loadingPanel">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-5"></div>
                    <div class="col-md-2" style="text-align:center;">
                        <i class="fa fa-diamond fa-5x fa-spin" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 50px;">
            <div class="col-md-4">
            </div>
            <div class="col-md-4" style="height: 100px;">
                <div class="col-md-5" style="text-align: right;">
                    <span>
                        <img src="/Images/IGSLogo.png" style="width: 100px;" /></span>
                </div>
                <div class="col-md-7" style="text-align: left; line-height: 100px; vertical-align: middle;">
                    <h1><b><span style="color: #f1523f;">IGS</span><span style="color: #ccc;"> ChatR</span></b></h1>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
    </form>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Content/Swal/sweetalert2.min.js"></script>
    <script src="/js/Loading.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="/signalr/hubs"></script>
    <asp:ContentPlaceHolder ID="JsScript" runat="server">  
        <script>
           
        </script>      
    </asp:ContentPlaceHolder>   
</body>
</html>
