﻿body {
    margin: 0 auto !important;
}

.LoginBox {
    margin-top: 50px;
    padding-bottom: 15px;
    background-color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    min-height: 20%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.InputLayout {
    margin-top: 10px;
    margin-bottom: 10px;
}

.redSubTitle {
    color: #f1523f;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.mainWindow {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

.DashBoardBodyTall {
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    background-color: white;
    min-height: 300px;
}

.RoomPanel {
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    background-color: white;
    padding: 15px;
    height: 435px;
    margin-bottom: 15px;
}

.noResize {
    resize: none;
}

.RoomSideBar {
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    background-color: white;
    padding: 15px;
    height: 600px;
}

.ChatBar {
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    background-color: white;
    padding: 15px;
    height: 150px;
}

.DashPanel {
    border: 1px solid;
    border-color: white;
    border-radius: 25px;
    background-color: white;
    min-height: 100px;
    line-height: 100px;
    vertical-align: middle;
}

.DashBoardBoxMargin {
    padding-left: 10px;
    padding-right: 10px;
}

.modalPos {
    width: 60% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 10% !important;
}

.loadingPanel {
    padding-top:20%;
    z-index: 99999999;
    position: fixed !important;
    width:100%;
    height:100%;
    color:white;
    background-color: rgb(24, 24, 24);
}

